<p>
  <strong>List Name:</strong>
<%= link_to @glist.name, edit_glist_path(@glist) %>
</p>
<br>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_line_items.each do |line_item| %>
      <tr>
        <td><%= link_to line_item.item.name, edit_line_item_path(line_item) %></td>
        <td> | </td>

        <td><%= link_to '[X]', line_item, method: :delete, data: { confirm: "Remove #{line_item.item.name}\n\nfrom the list: #{@glist.name}\n\nAre you sure?" } %></td>
      </tr>
    <% end %>
      </tbody>
</table>
<br>
<%= link_to 'New Line item', new_line_item_path %>
